<!doctype html>
<html lang="en">

<head>
    <%- include('partials/headerLink') %>
        <title>Registration API - forgot password page</title>
</head>

<body>

    <div class="container my-3">
        <h1>Forgot Password</h1>
    </div>

    <div class="container">
        <form action="/forgot_sendmail" method="POST">

            <div class="form-group my-2">
                <label for="email">Email </label>
                <input type="email" class="form-control inputStyle" name="email" id="email" aria-describedby="emailHelp"
                    placeholder="Enter email" required>
                <small id="emailError" class="form-text"></small>
            </div>

            <button type="submit" id="forgotBtn" class="btn btn-primary my-3">Sendmail</button>
        </form>
        <div class="text-center my-2">
            <p id="reset_password_msg" class="text-success my-3">
                <%=forgotpasswordMsg%>
            </p>
        </div>
        <div class="text-center">
            <p>If you have already Account! <a href="/login" class="text-primary"><strong>Login
                        here</strong></a>
            </p>
        </div>
    </div>

</body>

</html>